<h1>Say#hello</h1>
<p>Find me in app/views/say/hello.html.erb</p>
Hello Rick Awesome!

</br>
<%= 2+2 %>
<% 3.times do %>
	Ho!
	<h2><%= @yo %><h2>
<% end %>
</br>
<div class="rick">
<%= link_to "Teach Rick", rick_teach_path %>
</div>